<!DOCTYPE html>

<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Sentiment Reviews  Analysis</title>
        <link rel="shortcut icon" href="{{ url_for('static', filename='front.jpg') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
        <script src="https://kit.fontawesome.com/5f3f547070.js" crossorigin="anonymous"></script>
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    </head>

    <body>

        <!-- Website Title -->
    	<div class="container">
            <h2 class='container-heading'><span class="heading_font">Sentiment Reviews  Analysis</h2><br>
            <div class='description'>
    			<p>Please write your review in the box to check whether the review was Good or Bad</p>
				<a class="tb" href="https://hnsentiment-analysis-api.herokuapp.com/tweet"style="text-decoration:none">Tweeter Sentiment Review Analysis</a>
    		</div>
    	</div>

        <!-- Text Area -->
    	<div class="ml-container">
    		<form action="https://hnsentiment-analysis-api.herokuapp.com/predict" method="POST">
        		<textarea class='message-box' name="message" rows="15" cols="75" placeholder="Enter Your Review Here... like 'great food', 'food was awesome', 'didn't know what all the hype was about', or 'worst ever dinner date' etc.  "></textarea><br/>
        		<input type="submit" class="my-cta-button" value="Predict">
        	</form>
    	</div>
    	<img class="imgut" src="{{ url_for('static', filename='tb.png') }}" width="600"height="400">
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
        <!-- Footer -->
       <div class='footer'>
           <div class="contact">
               <a target="_blank" href="https://github.com/nharish615"><i class="fab fa-github fa-lg contact-icon"></i></a>
               <a target="_blank" href="https://www.linkedin.com/in/harish-n-63034817a/"><i class="fab fa-linkedin fa-lg contact-icon"></i></a>
           </div>
           <p class='footer-description'>Harish N ©2021</p>
       </div>

    </body>
</html>
